:root{
  --bg: #232324;
  --contentBG:#3e3c3f;
  --inputBG: #F2F2F3;

  

  --btnDefault:#8C54FB;
  --btnHover:#5F4398;

  --checkBoxDefault: #F2F2F3;
  --checkBoxHover:#8C54FB;
  --checkBoxSelected:#8C54FB;
  --checkBoxSelectedHover:#5F4398;

  --deleteBtnDefault:#232324;
  --deleteBtnHover: #F2F2F3;

  
  --mainFont:'Roboto', sans-serif;
  --mainFontColor:#F2F2F3;

}
body{
  position: absolute;
  margin: 0 auto;
  background: var(--bg);
  font-family: var(--mainFont);
  left: 50%;
  transform: translateX(-50%);
}
.container{
  display: flex;
}